/* PRODUCT CSS */

.product-container {
  border-radius: var(--radius);
  position: relative;
}

.product-container img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius);
  transition: var(--transition);
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0;
  cursor: pointer;
}

.link svg {
  font-size: 1.25rem;
  color: var(--clr-white);
}

.product-container:hover img {
  opacity: 0.5;
}
.product-container:hover .link {
  opacity: 1;
}

.product-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-footer h5 {
  color: var(--clr-black);
  text-transform: capitalize;
  margin-bottom: 0;
}
.product-footer p {
  margin-bottom: 0;
  font-weight: 400;
}

.product-footer p {
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
}
